<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/articles">Go to Articles Page</a>
    <form action="/articles" method="POST">
        <input type="text" name="title" placeholder="Enter the title">
        <input type="text" name="description" placeholder="Enter the description">
        <input type="text" name="tags" placeholder="Enter the tags">
        <input type="text" name="author" placeholder="Enter the author name">
        <input type="number" name="likes" placeholder="Enter the likes">
        <input type="submit" value="Add User">
    </form>
</body>
</html>