<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="">Welcome to Index Page</a>
    <a href="/articles"><h2>Got to Blog Page</h2></a>
  </body>
</html>
